* { padding: 0; margin: 0; }
canvas { background: #eee; display: block; margin: 0 auto; }
#score { text-align: center; font-size: 16px; padding: 10px; }
#lives { text-align: center; font-size: 16px; padding: 10px; }
